{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "AUTH服务"
  },
  "host": "api.uecent.com",
  "basePath": "/common/auth",
  "tags": [
    {
      "name": "登录与鉴权",
      "description": "Cust Controller"
    }
  ],
  "paths": {
    "/api/user/info": {
      "get": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "获取用户信息(oath2认证可调用)",
        "operationId": "getInfoUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData«客户登录信息»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/cust/apply": {
      "post": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "客户申请接入",
        "operationId": "applyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "loginBO",
            "description": "loginBO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/登录信息"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData«客户信息»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/cust/applyOut": {
      "post": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "客户申请退出",
        "operationId": "applyOutUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/oauth/login": {
      "get": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "head": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingHEAD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "options": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingOPTIONS",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "login",
        "operationId": "loginUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "name": "modelMap",
            "in": "query",
            "description": "modelMap",
            "required": false,
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/user/check": {
      "post": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "鉴权接口",
        "operationId": "checkUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "custBO",
            "description": "custBO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/鉴权信息"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData«客户信息»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/getUserMessageByToken": {
      "get": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "通过token获取用户信息",
        "description": "author:赵伟",
        "operationId": "getUserMessageByTokenUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData«客户登录信息»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "登录",
        "operationId": "loginUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "loginBO",
            "description": "loginBO",
            "required": true,
            "schema": {
              "$ref": "#/definitions/登录信息"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData«客户信息»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "登录与鉴权"
        ],
        "summary": "登出接口",
        "operationId": "loginOutUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "令牌",
            "required": false,
            "type": "string"
          },
          {
            "name": "clientType",
            "in": "header",
            "description": "客户端类型[0-pc/1-android/2-iOS]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespData«object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "DeptVO": {
      "type": "object",
      "properties": {
        "deptCode": {
          "type": "string"
        },
        "deptLevel": {
          "type": "integer",
          "format": "int32"
        },
        "deptName": {
          "type": "string"
        },
        "deptOwnerId": {
          "type": "integer",
          "format": "int64"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "parentId": {
          "type": "integer",
          "format": "int64"
        },
        "searchCode": {
          "type": "string"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "DeptVO"
    },
    "ModelAndView": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "model": {
          "type": "object"
        },
        "modelMap": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "reference": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "100",
            "101",
            "102",
            "103",
            "200",
            "201",
            "202",
            "203",
            "204",
            "205",
            "206",
            "207",
            "208",
            "226",
            "300",
            "301",
            "302",
            "303",
            "304",
            "305",
            "307",
            "308",
            "400",
            "401",
            "402",
            "403",
            "404",
            "405",
            "406",
            "407",
            "408",
            "409",
            "410",
            "411",
            "412",
            "413",
            "414",
            "415",
            "416",
            "417",
            "418",
            "419",
            "420",
            "421",
            "422",
            "423",
            "424",
            "426",
            "428",
            "429",
            "431",
            "451",
            "500",
            "501",
            "502",
            "503",
            "504",
            "505",
            "506",
            "507",
            "508",
            "509",
            "510",
            "511"
          ]
        },
        "view": {
          "$ref": "#/definitions/View"
        },
        "viewName": {
          "type": "string"
        }
      },
      "title": "ModelAndView"
    },
    "PositionVO": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "positionLevel": {
          "type": "integer",
          "format": "int32"
        },
        "positionName": {
          "type": "string"
        }
      },
      "title": "PositionVO"
    },
    "RespData": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "object"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "RespData"
    },
    "RespData«object»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "object"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "RespData«object»"
    },
    "RespData«客户信息»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/客户信息"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "RespData«客户信息»"
    },
    "RespData«客户登录信息»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "$ref": "#/definitions/客户登录信息"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "RespData«客户登录信息»"
    },
    "RoleVO": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "roleCode": {
          "type": "string"
        },
        "roleDesc": {
          "type": "string"
        },
        "roleName": {
          "type": "string"
        }
      },
      "title": "RoleVO"
    },
    "View": {
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string"
        }
      },
      "title": "View"
    },
    "客户信息": {
      "type": "object",
      "properties": {
        "matchId": {
          "type": "string",
          "description": "比赛ID"
        },
        "token": {
          "type": "string",
          "description": "token"
        },
        "user": {
          "description": "用户信息",
          "$ref": "#/definitions/客户登录信息"
        }
      },
      "title": "客户信息"
    },
    "客户登录信息": {
      "type": "object",
      "properties": {
        "dept": {
          "$ref": "#/definitions/DeptVO"
        },
        "email": {
          "type": "string",
          "description": "邮箱帐号"
        },
        "position": {
          "$ref": "#/definitions/PositionVO"
        },
        "realName": {
          "type": "string",
          "description": "客户姓名"
        },
        "role": {
          "$ref": "#/definitions/RoleVO"
        },
        "timeout": {
          "type": "integer",
          "format": "int64"
        },
        "userAvatar": {
          "type": "string",
          "description": "客户头像"
        },
        "userId": {
          "type": "integer",
          "format": "int64",
          "description": "客户ID"
        }
      },
      "title": "客户登录信息"
    },
    "登录信息": {
      "type": "object",
      "properties": {
        "auto": {
          "type": "integer",
          "format": "int32",
          "description": "自动登录[0-非自动/1-自动]"
        },
        "deviceToken": {
          "type": "string",
          "description": "设备token"
        },
        "password": {
          "type": "string",
          "description": "密码"
        },
        "username": {
          "type": "string",
          "description": "用户名"
        }
      },
      "title": "登录信息",
      "x-examples": {}
    },
    "鉴权信息": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "token"
        }
      },
      "title": "鉴权信息"
    }
  },
  "schemes": [
    "http"
  ]
}